<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none"   thread-count="12"  >
    <!-- listeners>
        <listener class-name="za.co.tshimx.fnb.utils.TestListener"/>
    </listeners-->

    <test  name="Create Account: HomePage" preserve-order="true" >
        <!--parameter name="browser" value="firefox"/-->
        <classes>
            <class name="za.co.tshimx.testcases.CalculatorTestCases"/>
            <!-- class name="za.co.tshimx.fnb.api.APITest"/-->
        </classes>
    </test>
    
</suite>